<section id="clients">
    <div class="section-header">
      <h3 class="section-title">Partner Kami</h3>
      <span class="section-divider"></span>
      <!-- <p class="section-description">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p> -->
    </div>
    <div class="container aos-init aos-animate" data-aos="fade-up">
        <div class="row">
            <div class="col-md-2">
              <amp-img alt="Klien Yukitabangun.com" src="./img/klien-1.webp" width="115" height="100" layout="fixed" class="wow fadeInLeft"></amp-img>
              <amp-img alt="Klien Yukitabangun.com" src="./img/klien-2.webp" width="115" height="100" layout="fixed" class="wow fadeInLeft"></amp-img>
              <amp-img alt="Klien Yukitabangun.com" src="./img/klien-3.webp" width="115" height="100" layout="fixed" class="wow fadeInLeft"></amp-img>
              <amp-img alt="Klien Yukitabangun.com" src="./img/klien-4.webp" width="115" height="100" layout="fixed" class="wow fadeInLeft"></amp-img>
              <amp-img alt="Klien Yukitabangun.com" src="./img/klien-5.webp" width="115" height="100" layout="fixed" class="wow fadeInLeft"></amp-img>
              <amp-img alt="Klien Yukitabangun.com" src="./img/klien-6.webp" width="115" height="100" layout="fixed" class="wow fadeInLeft"></amp-img>
              <amp-img alt="Klien Yukitabangun.com" src="./img/klien-7.webp" width="115" height="100" layout="fixed" class="wow fadeInLeft"></amp-img>
              <amp-img alt="Klien Yukitabangun.com" src="./img/klien-8.webp" width="115" height="100" layout="fixed" class="wow fadeInLeft"></amp-img>
              <amp-img alt="Klien Yukitabangun.com" src="./img/klien-9.webp" width="115" height="100" layout="fixed" class="wow fadeInLeft"></amp-img>
        </div>
    </div>
</section>